.flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
}

.flex-container div {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 0px 0px 1px #fff;
    height: 50px;
}

.box {
    flex: 1 1 100%;
}

.book {
    background-color: aqua;
    padding-left: 20px;
    padding-right: 20px;
    flex: 2 1 70%;
}

.selections {
    background-color: green;
    flex: 1 1 30%;
}

.label {
    margin-bottom: 5px;
}

#new-book {
    margin-bottom: 5px;
}